
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Poppins", sans-serif;
        }

        body {
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
            background-color: #1b1919;
        }

        .container {
            position: relative;
            max-width: 900px;
            width: 100%;
            background: #1E1E1E;
            padding: 25px;
            border-radius: 8px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        }

        .container header {
            font-size: 2.25rem;
            color: #fff;
            font-weight: 600;
            text-align: center;
            position: relative;
        }

        .container .form {
            margin-top: 30px;
        }

        .form .column1 {
            display: flex;
            column-gap: 25px;
            justify-content: space-between;
        }

        .form .column4 {
            display: flex;
            column-gap: 25px;
            justify-content: space-between;
        }

        .form .column5 {
            display: flex;
            column-gap: 25px;
            justify-content: space-between;
        }

        #sea-btn{
            height: 50px;
            margin-top: 50px;
            width: 50px;
            color: #fff;
            font-size: 17px;
            background-color: #4c3b6d;
            outline: none;
            border: 1px solid #4c3b6d;
            border-radius: 6px;
            cursor: pointer;
        }


        .form .column3 {
            display: flex;
            column-gap: 25px;
            justify-content: space-between;
        }

        #col-edit {
            width: 300px;
        }

        #date {
            text-align: center;
        }

        #col-edit2 {
            width: 420px;
        }

        #deliveryDate {
            text-align: center;
        }

        .form .input-box {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 5px;
        }

        .input-box label {
            color: #e79aff;
        }

        .form .input-box input {
            position: relative;
            height: 50px;
            width: 100%;
            outline: none;
            font-size: 1rem;
            background-color: #1E1E1E;
            color: #fff;
            margin-top: 8px;
            border: 1px solid  #be98d0;
            border-radius: 6px;
            padding: 0 15px;
        }

        h2 {
            color: #4c3b6d;
            margin-top: 10px;
        }

        .h2New {
            margin-bottom: 15px;
            margin-top: 25px;
        }

        .form .collection-div {
            margin-top: 5px;
        }

        .collection-div p {
            color: #e79aff;
            font-size: 1rem;
            margin-bottom: 8px;
        }

        .collection-div label {
            color: #fff;
        }

        .form :where(.collection-option, .collections) {
            display: flex;
            align-items: center;
            column-gap: 50px;
            margin-left: 12px;
        }

        .form .collections {
            column-gap: 5px;
        }

        .form :where(.collections input, .collections label) {
            cursor: pointer;
        }

        #clickStore, #clickCustomerPlace:checked {
            accent-color: #4c3b6d;
        }

        .form .column2 {
            display: flex;
            column-gap: 50px;
        }

        hr {
            margin-top: 30px;
            background-color: #be98d0;
            height: 2px;
            border: none;
            margin-bottom: 10px;
        }
        .fa-circle-check {
            font-size: 24px;
            color: transparent;
            cursor: pointer;
            margin-left: 10px;
        }
        .button-with-icon {
            display: flex;
            align-items: center;
 }

 .smallBox {
      height: 60px;
      width: 100%;
      background: #4c3b6d;
 }

         .hover-effect {
    background-color: #d4b728;
}

.click-effect {
    background-color: #99830f;
}
